<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>map_edit.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>ProGorod safety files converter 1.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>pgsconverter</string>
	<key>CFBundleIdentifier</key>
	<string>com.darkstar.pgsconverter</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
</dict>
</plist>
